{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <h1>{{ title }}</h1>
    {% if feedback_message is string %}
      <div class="alert alert-warning" role="alert">
        {{ feedback_message }}
      </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-warning" role="alert">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% set user_choices = freelancer_choices %}
    {% include 'task/choose_freelancer_from_task.widgets.freelancer_choices.html' %}
  </div>
{% endblock page_main_content %}
