{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <h1>{{ title }}</h1>
    <div class="alert alert-info">
      Поздравляем! Данные успешно изменены!
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>До операции:</h2>
        {% set item_value = task_before %}
        {% include 'debug_tools/value_html_inspector.html' %}
      </div>
      <div class="col-12 col-lg-6">
        <h2>После операции:</h2>
        {% set item_value = task_after %}
        {% include 'debug_tools/value_html_inspector.html' %}
      </div>
    </div>
  </div>
{% endblock page_main_content %}
