{% extends 'layouts/base.html' %}

{% block page_header_content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('sign.index') }}">Free Freelance</a>
    </div>
    <form class="form-inline mr-3" action="{{ url_for('sign.sign_up') }}">
      <button class="btn btn-outline-light btn-sm" type="submit" >Регистрация</button>
    </form>
    <form class="form-inline " action="{{ url_for('sign.sign_in') }}">
      <button class="btn btn-outline-light btn-sm" type="submit" >Войти</button>
    </form>
  </nav>
{% endblock page_header_content %}

{% block page_main_content %}
  <div class="container">
    <h1>{{ title }}</h1>
    {% if feedback_message is string %}
      <div class="alert alert-warning" role="alert">
        {{ feedback_message }}
      </div>
    {% endif %}
    {% if task is defined %}
      <section>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Описание</th>
              <td>{{ task.description }}</td>
            </tr>
            <tr>
              <th scope="row">Цена</th>
              <td>{{ task.price }}</td>
            </tr>
            <tr>
              <th scope="row">Дата завершения</th>
              <td>{{ task.deadline.strftime('%d.%m.%Y') }}</td>
            </tr>
            <tr>
              <th scope="row">Заказчик</th>
              <td>
                {% for rendered_user in user_groups.task_customers.rendered_users %}
                  {{ rendered_user.label }}
                  {{- ',' if loop.first and not loop.last }}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th scope="row">Состояние Задачи</th>
              <td>{{ task_status_label }}</td>
            </tr>
            <tr>
              <th scope="row">Подтверждённый Исполнитель</th>
              <td>
                {% for rendered_user in user_groups.confirmed_freelancers.rendered_users %}
                  {{ rendered_user.label }}
                  {{- ',' if loop.first and not loop.last }}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th scope="row">Заинтересовавшиеся фрилансеры</th>
              <td>
                {% for rendered_user in user_groups.responded_freelancers.rendered_users %}
                  {{ rendered_user.label }}
                  {{- ',' if loop.first and not loop.last }}
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    {% endif %}
    <br>
    {% if task_debug_info is mapping %}
      <section>
        <h2>Дебаг - Состояние Задачи:</h2>
        <br>
        {% set item_value = task_debug_info %}
        {% include 'debug_tools/value_html_inspector.html' %}
      </section>
    {% endif %}
  </div>
{% endblock page_main_content %}
