{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <section>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('freelancer.view_tasks_for_fl', user_id=user_id) }}">Активные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('freelancer.view_tasks_in_work', user_id=user_id) }}">В работе</a>
        </li>
      </ul>
    </section>
    <br>
    <section>
      <h3>Описание проекта</h3>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Название</th>
            <td>{{ task_name }}</td>
          </tr>
          <tr>
            <th scope="row">Описание</th>
            <td>{{ description }}</td>
          </tr>
          <tr>
            <th scope="row">Цена</th>
            <td>{{ price }}</td>
          </tr>
          <tr>
            <th scope="row">Дата завершения</th>
            <td>{{ deadline.strftime('%d.%m.%Y') }}</td>
          </tr>
        </tbody>
      </table>

      <form action="{{url_for('freelancer.view_task_information', user_id=user_id, task_id=task_id)}}" method="POST">
        <button type="submit" class="btn btn-dark">Откликнутся</button>
      </form>

    </section>
  </div>
{% endblock page_main_content %}