{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <section>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('freelancer.view_tasks_for_fl', user_id=user_id) }}">Активные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('freelancer.view_tasks_in_work', user_id=user_id) }}">В работе</a>
        </li>
      </ul>
    </section>
    <br>
    <section>
      {% for task in tasks %}
        <a href="{{ url_for('freelancer.view_task_information', user_id=user_id, task_id = task.id) }}">
          Название: {{ task.task_name }}, Цена: {{ task.price }}, Дедлайн: {{ task.deadline.strftime('%d.%m.%Y') }}
        </a><br>
        <hr>
      {% endfor %}
    </section>
  </div>
{% endblock page_main_content %}