{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <section>
      {% if ((task_tabs is iterable) and
             (task_tabs|length > 0)) %}
        <ul class="nav nav-tabs">
          {% for task_tab in task_tabs %}
            <li class="nav-item">
              <a
                class="nav-link {{ 'active' if task_tab.is_selected }}"
                href="{{ task_tab.url }}"
                >
                {{ task_tab.label }}
                </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
    <section>
      <br>
      {% for task in tasks %}
        <a href="{{ url_for('task.view_task', task_id=task.id) }}">
          Название: {{ task.task_name }},
          Цена: {{ task.price }},
          Дедлайн: {{ task.deadline.strftime('%d.%m.%Y') }}
        </a>
        <br>
        <hr>
      {% else %}
          В этом разделе нет Задач
          <br>
          <hr>
      {% endfor %}
    </section>
  </div>
{% endblock page_main_content %}
