<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
          <div class="row">
              <div class="col-4">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                  <form action="{{ url_for('process_create_task') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                      {{ form.task_name.label }}</br>
                      {{ form.task_name() }}
                    </div>
                    <div class="form-group">
                      {{ form.description.label }}</br>
                      {{ form.description() }}
                    </div>
                    <div class="form-group">
                        {{ form.price.label }}</br>
                        {{ form.price() }}
                    </div>
                    <div class="form-group">
                        {{ form.deadline.label }}</br>
                        {{ form.deadline() }}
                    </div>
                    <div>
                       </br>
                       {{ form.submit }}
                    </div>   
                  </form>
              </div>
              <div class="col-4">
                  
              </div>
</body>
</html>
