<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            {% for message in messages %}
                                {{ message }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="{{ form_url }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.task_id.label }}</br>
                        {{ form.task_id() }}
                        {% for error in form.task_id.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.user_id.label }}</br>
                        {{ form.user_id() }}
                        {% for error in form.user_id.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div>
                        </br>
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
