{% extends 'layouts/base.html' %}

{% block page_header_content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('customer', user_id=user_id) }}">Free Freelance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('freelancer', user_id=user_id) }}">Активные</a>
        <a class="nav-link active" href="{{ url_for('fl_in_work', user_id=user_id) }}">В работе</a>
      </div>
    </div>
    <form class="form-inline " action="{{ url_for('logout') }}">
      <button class="btn btn-outline-light btn-sm" type="submit" >Выйти</button>
    </form>
  </div>
</nav>
{% endblock page_header_content %}

{% block page_main_content %}
  <div class="container">
    <div class="row">
      <div class="col-8">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                {{ message }}<br>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <form action="{{url_for('fl_in_work', user_id=user_id )}}" method="POST">
          {{ form.hidden_tag() }}

          {{ form.csrf_token }}
          <br>
          {{ form.tasks.label }}
          <br>
          {{ form.tasks }}
          {% for error in form.tasks.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.submit }}
        </form>
        <br>
        {% for task in tasks %}
          <a href="{{ url_for('task', user_id=user_id, task_id = task.id) }}">{{ task }}</a><br>
        {% endfor %}
        </div>
      <div class="col-4">
      </div>
    </div>
  </div>
{% endblock page_main_content %}
