{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <section>
      {% if ((task_status_tabs is iterable) and
             (task_status_tabs|length > 0)) %}
        <ul class="nav nav-tabs">
          {% for task_status_tab in task_status_tabs %}
            <li class="nav-item">
              <a
                class="nav-link {{ 'active' if task_status_tab.is_selected }}"
                href="{{ task_status_tab.url }}"
                >
                {{ task_status_tab.label }}
                </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
    <section>
      <br>
      {% for task in tasks %}
        <a href="{{ url_for('task.view_task', task_id=task.id) }}">
          Название: {{ task.task_name }},
          Цена: {{ task.price }},
          Дедлайн: {{ task.deadline.strftime('%d.%m.%Y') }}
        </a><br>
        <hr>
      {% else %}
        <div class="alert">
          В этом разеле нет Задач
        </div>
      {% endfor %}
    </section>
    <section>
      <a
        class="btn btn-dark"
        href="{{ url_for('task.add_task') }}"
        >
        Создать Проект
      </a>
    </section>
  </div>
{% endblock page_main_content %}