{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <section>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer.view_created_tasks', user_id=user_id) }}">Созданные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer.view_published_tasks', user_id=user_id) }}">Опубликованные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('customer.view_freelancers_detected_task', user_id=user_id) }}">Активные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer.view_in_work_tasks', user_id=user_id) }}">В работе</a>
        </li>
      </ul>
    </section>
    <section>
      {% for task in tasks %}
        <a href="{{ url_for('customer.view_ready_fl', user_id=user_id, task_id = task.id) }}">
          Название: {{ task.task_name }}, Цена: {{ task.price }}, Дедлайн: {{ task.deadline.strftime('%d.%m.%Y') }}
        </a><br>
        <hr>
      {% endfor %}
    </section>
    <section>
      <a
        class="btn btn-dark"
        href="{{ url_for('task.add_task') }}"
        >
        Создать Проект
      </a>
    </section>
  </div>
{% endblock page_main_content%}