{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <br>
    <section>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer.view_created_tasks', user_id=user_id) }}">Созданные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer.view_published_tasks', user_id=user_id) }}">Опубликованные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer.view_freelancers_detected_task', user_id=user_id) }}">Активные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer.view_in_work_tasks', user_id=user_id) }}">В работе</a>
        </li>
      </ul>
    </section>
    <section>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-primary" role="alert">
            {% for message in messages %}
              {{ message }}<br>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <h3>Фрилансер</h3>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Имя</th>
            <td>{{ user_name }}</td>
          </tr>
          <tr>
            <th scope="row">Навыки</th>
            <td>{{ public_bio }}</td>
          </tr>
        </tbody>
      </table>
      <form action="{{url_for('customer.select_fl', user_id=user_id, task_id=task_id, fl_id=fl_id)}}" method="POST">
        <button type="submit" class="btn btn-dark">Назначить</button>
      </form>
    </section>
  </div>
{% endblock page_main_content %}