{% extends 'layouts/base.html' %}

{% block page_main_content %}
  <div class="container">
    <section>
      <form action="{{url_for( 'sign.sign_in' )}}" method="POST">
        {{ form.hidden_tag() }}
        <div>
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.user_name.label }}<br>
            {{ form.user_name }}
          </div>
          <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password }}
          </div>
          <div class="custom-control custom-checkbox custom-checkbox-black">
            {{ form.remember_me }}
            {{ form.remember_me.label(class_="custom-control-label") }}
          </div>
          <div>
            <br>
            {{ form.submit }}
          </div>
        </div>
      </form>
    </section>
  </div>
{% endblock page_main_content %}